@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply border-solid border border-gray-700 h-12 w-5/6 mx-auto my-5 rounded-lg text-gray-700 text-lg font-bold hover:bg-gray-100;
  }
}

#app {
  width: 100vw;
  height: 100vh;
  font-weight: normal;
}
